html{
  font-family: 'Assistant', sans-serif;
}

body{
  padding: 0;
  margin: 0;
  background-color: #d2b5b538;
  display: flex;
  justify-content: center;
  font-family: Roboto;
}

main{
  width: 280px;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}




