html{
  font-family: 'Assistant', sans-serif;
}

body{
  padding: 0;
  width: 280px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #d2b5b538;
  /* display: flex;
  justify-content: center; */
  font-family: Roboto;
}

main{
  /* width: 280px; */
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}




