.div{
    margin: 10px;
    border: 2px solid rgb(219, 16, 46);
    border-radius: 20px;
    padding: 10px;
}
.deco{
    width:6px;
    height:60px;
    background-color: rgb(219, 16, 46);
    margin-right: 15px;
} 
.ensembleh1{
    display:flex;
    flex-direction: row;
    align-items: center;
}
p{
    text-align: justify;
}
.para::first-letter{
    font-size: 30px;
    font-style: italic;
}