.articleTemoignage{
 background-color: rgb(219, 16, 46);
 color:white;
 padding: 10px;
}


.image{
    width:80px;
    height:80px;
    border-radius: 40px;
    margin: 10px;
}


.temoignage{
    display:flex;
    align-items:start ;
}

.pTemoignage{
    margin-top:0px;
    margin-left: 10px ;
    margin-right: 10px;
    text-align: justify;
}
.h2Temoin{
    margin-left : 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}